[submodule "inc/libopencm3"]
	path = inc/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "inc/FreeRTOS"]
	path = inc/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "inc/printf"]
	path = inc/printf
	url = https://github.com/mpaland/printf
[submodule "inc/stm32-ssd1306"]
	path = inc/stm32-ssd1306
	url = https://github.com/ondrej-mach/libopencm3-ssd1306.git
